<div class="ui raised fluid card">
  <div class="content">
    <div class="header">{{event.title}}</div>
    <div class="meta">{{event.time}} {% if event.place %}<a href="{{event.place_url}}" title="{{event.place}}"><i
          class="small building icon"></i> {{event.place}}</a> {% endif %} {% if event.price %}<i
        class="euro icon"></i>{{event.price}}{% endif %}</div>
    <div class="description">{{event.description | markdownify}}</div>
  </div>
  {% if event.facebook or event.ticket_url or event.rsvp_url %}
  <div class="extra content">
    <div class="ui two buttons">
      {% if event.facebook != blank%}
      <a href="{{event.facebook}}" class="ui  button"><i class="facebook blue icon"></i> Event</a>
      {% else %}
      <a href="#" class="ui disabled button"><i class="facebook blue icon"></i> Event</a>
      {% endif %}
      {% if event.ticket_url != blank %}
      <a href="{{event.ticket_url}}" class="ui button"><i class="ticket alternate red icon"></i> Tickets</a>
      {% elsif event.rsvp_url != blank %}
      <a href="{{event.rsvp_url}}" class="ui button">RSVP</a>
      {% else %}
      <a href="#" class="ui disabled button"><i class="ticket alternate red icon"></i> No presales</a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
