<section id="newsletter" class="ui segment">
  <h1 class="ui hedear"><i class="envelope open outline icon"></i> Newsletter</h1>
  <p>Get news from us right into your inbox</p>
  <form action="https://facebook.us15.list-manage.com/subscribe/post?u=8239ec1c48b52dc464259e842&amp;id=f16126bffd" method="POST" class="ui form">
    <div class="ui grid">
      <input type="hidden" name="group[5749][8]" value="8">
      <input type="hidden" name="gdpr[73]" value="Y">
      <div class="sixteen wide mobile twelve wide tablet column">
        <input type="email" name="EMAIL" value="" placeholder="john@bears.lu" required>
      </div>
      <div class="sixteen wide mobile four wide tablet column">
        <button type="submit" name="Send" class="ui fluid button submit brown">Subscribe</button>
      </div>
    </div>
    <div class="ui error message"></div>
  </form>
</section>
