{% if site.data.shop %}
<section id="shop" class="ui divided items segment">
  <h2 class="ui header">
    <i class="heart outline icon"></i>
    <div class="content">
      Support us
      <div class="sub header">All the profits will be use to finance events and actions for LGBTQ+.</div>
    </div>
  </h2>
  {% for item in site.data.shop %}
  <div class="item">
    {% if item.picture %}
    <div class="image">
      <img src="{{item.picture}}" alt="Picture of {{item.name}}">
    </div>
    {% endif %}
    <div class="content">
      <div class="header">{{item.name}}</div>
      <div class="description">{{item.description | markdownify | truncatewords:20}}</div>
      <div class="extra">
        <a href="{{item.stripe_link}}" class="ui right floated mini brown inverted button">
          <i class="cart icon"></i>
          Buy now for {{item.price | prepend:" €"}}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}
