<section id="newsletter" class="ui segment">
  <h2 class="ui header">
    <i class="envelope open outline icon"></i>
    <div class="content">
      Newsletter
      <div class="sub header">Get news from us right into your inbox</div>
    </div>
  </h2>
  <form action="https://facebook.us15.list-manage.com/subscribe/post?u=8239ec1c48b52dc464259e842&amp;id=f16126bffd" method="POST" class="ui form">
    <div class="ui grid">
      <input type="hidden" name="group[5749][8]" value="8">
      <input type="hidden" name="gdpr[73]" value="Y">
      <div class="sixteen wide mobile twelve wide tablet column">
        <input type="email" name="EMAIL" value="" placeholder="john@bears.lu" required>
      </div>
      <button type="submit" name="Send" class="ui fluid button bottom attached submit brown">Subscribe</button>
    </div>
    <div class="ui error message"></div>
  </form>
</section>
