<section id="buy" class="ui segment unstackable items">
  <div class="item" style="margin-bottom:0">
    <div class="image">
      <img src="/uploads/2020/07/cap-1.png" alt="">
    </div>
    <div class="content">
      <div class="header">WOOF Luxembourg Cap</div>
      <div class="meta">
        <span class="price">25€ <del>30€</del> (+ shipping)</span>
      </div>
      <div class="description">For the anniversary of Woof Luxembourg, the men-only party, we decided to release a small batch of high quality cap with 3D embroised logo on it.</div>
      <div class="extra">
        <button class="ui right floated brown button" id="checkout-button-price_1H73Lm2EsI6YBHZn80MuYdJE" role="link">
          Buy it
          <i class="right chevron icon"></i>
        </button>
        <div class="ui mini label">Limited Edition</div>
      </div>
    </div>
  </div>
</section>
