<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="twitter:card" content="summary" />
    <title>Bear Dukes Luxembourg - The first bear community in Luxembourg</title>
    <meta property="og:title" content="Bear Dukes Luxembourg" />
    <meta property="og:description" content="We are the Luxembourgish bear community 🇱🇺🐻." />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <style media="screen">
        body{
            background: url("{{'/assets/Bear Dukes Luxembourg - faded.png' | relative_url}}") no-repeat -150px -150px;
            background-attachment: fixed;
            filter:transparent(0.7);
        }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</head>
