<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bear Dukes Luxembourg | LGBTQ+ Bear Community in Luxembourg</title>
    // meta description for seo
    <meta name="description" content="Join Bear Dukes Luxembourg for monthly bear events, parties, and the annual Bear Pride in Luxembourg City. Your local LGBTQ+ bear community.">
    // social media meta tags
    <meta property="og:title" content="Bear Dukes Luxembourg | LGBTQ+ Bear Community in Luxembourg">
    <meta property="og:description" content="Join Bear Dukes Luxembourg for monthly bear events, parties, and the annual Bear Pride in Luxembourg City. Your local LGBTQ+ bear community.">
    <!--- <meta property="og:image" content="https://beardukesluxembourg.com/assets/Bear Dukes Luxembourg.png"> -->
    // favicon
    {% seo %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-serializeobject@1.0.0/jquery.serializeObject.min.js"></script>
</head>
