<script type="text/javascript">
$.fn.api.settings.api = {
  'subscribe newsletter' : "https://us15.api.mailchimp.com/3.0/lists/f16126bffd/members/"
};

$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;

$('#newsletter form')
  .form({
    on: 'submit',
    fields: {
      email: {
        identifier  : 'email',
        rules: [
          {
            type   : 'email',
            prompt : 'Please enter a valid e-mail'
          }
        ]
      }
    }
  });
$('#newsletter form .button')
  .api({
    action: 'subscribe newsletter',
    method: 'POST',
    serializeForm: true,
    beforeSend: function(settings){
      $('#newsletter form').form('validate form');
      if(!settings.data.email){return false}
      else{
        settings.data.status = 'subscribed';
        settings.data.interests = {"48d1fe5bb1": true};
        settings.data.marketing_permissions = [{
          "marketing_permission_id": "13f7b02389",
          "text": "E-mailing / Campagne email",
          "enabled": true
        }];
        return settings;
      };
    },
    onResponse: function(response){
      console.log(response);
      return response;
    },
    successTest: function(response){
      return (response.status == "subscribed") ? true : false;
    },
    onSuccess: function(response){
      console.log("YAY");
    },
    onFailure: function(response){
      console.error('computer says no')
    },
    onError: function(response){
      console.error('ghost in the shell')
    },
    onAbort: function(response){
      console.error('woops')
    }
  })
;
</script>
