---
layout: default
---
<p class="meta">{% if page.categories %} {{page.categories |array_to_sentence_string}}{% endif %} &centerdot; {{page.date | date_to_string}}</p>
<h1 class="ui center aligned header">
    {{page.title}}
    {% if page.subtitle %}
    <div class="sub header">{{page.subtitle}}</div>
    {% endif %}
</h1>

{% if page.splash %}<img src="{{page.splash | append:'?nf_resize=smartcrop&w=1100&h=400'}}" alt="" class="ui image rounded">{% endif %}

<div class="ui content piled segment">{{content}}</div>

<div class="ui menu">
  {% if page.previous %}
  <a class="item" href="{{page.previous.url}}">
    <i class="angle double left icon"></i>{{page.previous.title}}
  </a>
  {% endif %}
  {% if page.next %}
  <div class="right menu">
    <a class="item" href="{{page.next.url}}">{{page.next.title}}<i class="angle double right icon"></i>
    </a>
  </div>
  {% endif %}
</div>
